HELLO TITLE GRID<br/>
{{dataSelected}}<br/>
<button ng-click="countArray()">Count Array</button>
<table  class="table table-striped table-hover table-bordered">
    <tr class="success">
<!--        <td><input type="checkbox"  ng-click="check()" ng-model="selectedAll" /></td>-->
        <td><input type="checkbox"  ng-model="checkAll" ng-click="check(checkAll)" /></td>
        <td>รหัสคำนำหน้า</td>
        <td>ชื่อคำนำหน้า</td>
        <td>ชื่อคำนำหน้าภาษาอังกฤษ</td>
        <td>เพศ</td>
    </tr>
    <tr data-ng-repeat="ctl_title in data = (ctl_titles | filter : { TITLE_CODE : searchBy.Code, TITLE_NAME : searchBy.Name, TITLE_NAME_ENG : searchBy.NameEng} )" 
        
        > 
        <td class="checkbox-padding"><input type="checkbox" 
                   checklist-model="dataSelected.colum"
                   checklist-value="ctl_title.TITLE_CODE"
                   data-ng-click="setBtnDel()"
        />  {{$index+1}}</td>
        
        <td data-ng-click="editCurrentTitle(ctl_title)">{{ctl_title.TITLE_CODE}}</td>
        <td data-ng-click="editCurrentTitle(ctl_title)">{{ctl_title.TITLE_NAME}}</td>
        <td data-ng-click="editCurrentTitle(ctl_title)">{{ctl_title.TITLE_NAME_ENG}}</td>
        <td data-ng-click="editCurrentTitle(ctl_title)">{{ctl_title.SEX == 'U' ? 'ไม่ระบุ' : (ctl_title.SEX == 'M' ? 'ชาย' : 'หญิง')}}</td>
        
        
<!--
        <td >{{ctl_title.TITLE_CODE}}</td>
        <td >{{ctl_title.TITLE_NAME}}</td>
        <td >{{ctl_title.TITLE_NAME_ENG}}</td>
        <td >{{ctl_title.SEX}}</td>
-->
    </tr>
    <tr><td colspan="5" data-ng-if="data.length == 0">ไม่พบข้อมูล</td></tr>
</table>
